@use 'normalize.css';

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  // Colors
  --clr-primary: #ff5a44;
  --clr-secondary: #000217;
  --clr-grey: #f9f9f9;
  --clr-white: #ffffff;
  --clr-black: #000000;

  // Font Families
  --ff-headings: 'forma-djr-banner', sans-serif;
  --ff-body: 'nunito-sans', sans-serif;

  // Font sizes
  --fs-h1: 4.4375rem;
  --fs-h2: 3.75rem;
  --fs-h3: 2.188rem;
  --fs-subtitle: 1rem;
  --fs-p: 1rem;
  --fs-a: 0.875rem;

  // Font weights
  --fw-h1: 800;
  --fw-h2: 700;
  --fw-h3: 300;
  --fw-subtitle: 700;
  --fw-p: 300;
  --fw-a: 600;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

::selection {
  color: var(--clr-black);
  background-color: var(--clr-primary);
}

h1,
h2,
h3,
a,
.h1,
.h2,
.h3,
.a {
  font-family: var(--ff-headings);
  text-transform: uppercase;
  line-height: 1.3;
}

h1,
.h1 {
  font-size: var(--fs-h1);
  font-weight: var(--fw-h1);
  max-width: 15ch;
  margin: 0;
}

h2,
.h2 {
  font-size: var(--fs-h2);
  font-weight: var(--fw-h2);
}

h3,
.h3 {
  font-size: var(--fs-h3);
  font-weight: var(--fw-h3);
}

.subtitle {
  font-size: var(--fs-subtitle);
  font-weight: var(--fw-subtitle);
  font-family: var(--ff-headings);
  font-style: italic;
  line-height: 1.3;
}

body,
p {
  font-family: var(--ff-body);
  font-size: var(--fs-p);
  font-weight: var(--fw-p);
  line-height: 1.5;
}

a,
.a {
  font-size: var(--fs-a);
  font-weight: var(--fw-a);
  font-style: normal;
  letter-spacing: 0.05rem;
  text-decoration: none;
}

h2,
h3,
.h2,
.h3 {
  max-width: 25ch;
}

p,
li {
  max-width: 65ch;
}
