---
import { getData } from '../../helpers/dataFetching.js';

export async function getStaticPaths() {
  const cases = await getData('cases');

  return cases.map((casePost) => {
    return {
      params: { slug: casePost.slug },
      props: { casePost }
    }
  })
}

const { casePost } = Astro.props;
---


<div class="container container--large">
  <h1>{casePost['cases_title']}</h1>
</div>