---
import BaseLayout from '../layouts/BaseLayout.astro';
import { getData } from '../helpers/dataFetching.js';

---
  
<BaseLayout>
  <h1>Min seje H1</h1>
  <h2>Min seje H2</h2>
  <h3>Min Seje H3</h3>
  <p class="subtitle">Min seje subtitle</p>
  <a>Min seje a</a>
  <img src="https://picsum.photos/seed/picsum/1920/1080" alt="Min seje alt tekst" />
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi nemo omnis deleniti iusto nesciunt. Pariatur facilis quis repellendus tempore neque rerum ad dignissimos autem aperiam aliquam beatae, officiis doloremque! Repellendus.</p>

</BaseLayout>