---
// Component Imports
import Tour from '../components/Tour.astro';
// You can import components from any supported Framework here!


// Component Script:
// You can write any JavaScript/TypeScript that you'd like here.
// It will run during the build, but never in the browser.
// All variables are available to use in the HTML template below.
let title = 'My Astro Site';

// Fetching wp data
const response = await fetch('https://signemariemathiasen.dk/kea/4_semester/storyflight/wordpress/wp-json/wp/v2/pages/111');
const data = await response.json();
// Remember: Astro component scripts log to the CLI
console.log(data);

const titel = data.title.rendered;
const overskrift = data.acf['contact-info-heading'];
const tekst = data.acf['contact-info-text'];


// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>{titel}</title>

        <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    
    <link rel="stylesheet" href={Astro.resolve('../styles/global.scss')}>
    <link rel="stylesheet" href={Astro.resolve('../styles/home.scss')}>

    <style>
        header {
            display: flex;
            flex-direction: column;
            gap: 1em;
            max-width: min(100%, 68ch);
        }
    </style>
</head>
<body>
    <main>
        <header>
                <h1>{titel}</h1>
        </header>
        <h2>{overskrift}</h2>
        <p>{tekst}</p>

    </main>
</body>
</html>
