---
import BaseLayout from '../layouts/BaseLayout.astro';
import { getData } from '../helpers/dataFetching.js';

getData("menus", "primaryMenu");
---
  
<BaseLayout>
  <div class="container container--large">
    <h1>Min seje H1</h1>
    <h2>Min seje H2</h2>
  </div>
  <div class="container">
    <a>Min seje a</a>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi nemo omnis deleniti iusto nesciunt. Pariatur facilis quis repellendus tempore neque rerum ad dignissimos autem aperiam aliquam beatae, officiis doloremque! Repellendus.</p>
  </div>
  <div class="container container--small">
    <a>Min seje a</a>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi nemo omnis deleniti iusto nesciunt. Pariatur facilis quis repellendus tempore neque rerum ad dignissimos autem aperiam aliquam beatae, officiis doloremque! Repellendus.</p>
  </div>

</BaseLayout>